.form__label {
    border: hsl(260, 10%, 70%) 1px solid;
    padding: 3px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;

}

.form__label:hover {
    background-color: hsl(253, 26%, 93%);
}

.form__label:focus-visible {
    outline: hsl(260, 10%, 50%) 1px solid;
    border: none;
}